@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(exercises.css);
@import url(burguerMenu.css);
@import url(nav.css);
@import url(cards-menu.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

:root{
    --white: white;
    --bg-default: #030014;
    --timer-black: rgba(7, 7, 7, 0.4);
    --nav-bg: rgba(7, 7, 7, 0.3);
    --slider-bg: rgba(7, 7, 7, 0.4);
    --purple1: #8635ff;
    --purple2: #100233;
    --purple6: #150342;
    --purple3: #430ccc;
    --purple4: #27057c;
    --purple5: #0c0127;
    --purple-gradient: linear-gradient(45deg, rgba(21,3,66,0.2) 0%, rgba(28,0,96,0.2) 32%, rgba(21,3,66,0.2) 52%);

    --card-shadow1: black;
    --card-shadow2: rgba(0, 0, 0, 0.644);
}

body {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-family: Arial, sans-serif;
    background: var(--bg-default);
    color: var(--white);
    overflow-x: hidden;
}





#wipe-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #480777; /* roxo */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 999999;
    transition: opacity 0.2s ease;
}

#wipe-screen.active {
    opacity: 1;
    pointer-events: all;
}

.wipe-content {
    text-align: center;
    color: white;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.wipe-border-bar{
    background-color: none;
    padding: 5px;
    border: 3px solid white;
    border-radius: 7px;
}

.wipe-bar {
    width: 250px;
    height: 25px;
    background: #480777;
    border-radius: 4px;
    overflow: hidden;
}

.wipe-fill {
    height: 100%;
    width: 0%;
    background: white;
}


@keyframes wipe-progress {
    to {
        width: 100%;
    }
}

